.emperors {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
}
.emp_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 30px;
}
.emperor__block {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 600px;
    background: #fafafc;
}
ul ul {
    list-style-type: disc;
}

search {
    width: 100%;
    max-width: 1440px;
}
input {
    resize: none;
    width: 100%;
    font-family: 'Jura';
    font-size: 32px;
    border: none;
    padding: 10px 0px 10px 40px;
}
input:focus{
    outline: none;
}

