.th {
    background: #64a2ad;
    color: white;
    font-size: 18px;
}

th {
    padding: 15px;
}

.date {
    background: #e9c16a;
}

td {
    font-size: 16px;
}

td:not([class]) {
    border-left: 2px solid #b84f0b;
}

tr:not(.th) {
    padding: 0.5rem;
    border-top: 2px dashed #b84f0b;
}

table {
    border-collapse: collapse;
    font-family: 'Jura';
}

.last__tr {
    border-bottom: 5px solid #64a2ad;
}

