li {
    list-style: none;
    font-family: 'Jura';
    font-size: 22px;
}
ul {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 20px;
    color: rgba(255, 255, 255, 0.7);
}
main li button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    cursor: pointer;
    padding: 20px;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s;
}
main li button:hover {
    color: white;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.4);
}
li.info {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px;
}
