main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: left;
}
input {
    resize: none;
    width: 200px;
}

.register {
    font-family: "Jura";
    font-size: 16px;
    font-style: normal;
    color: white;

    background: #CC0033;
    padding: 12px 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.register:hover {
    background: #FF0033;
}