li {
    list-style: none;
    font-family: 'Jura';
    font-size: 22px;
}
ul {
    padding-left: 10px;
}
main li button {
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 30px;
    font-size: 28px;
}
