.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    grid-area: 1 / 1 / 1 / 1;
}
.avatar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
.frame {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    width: 250px;
    height: 250px;
    z-index: 1;
}
address {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name, .group {
    margin: 0px;
}