main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}
form {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Jura';
    gap: 10px;
    text-align: center;
}
input {
    resize: none;
    width: 200px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    caret-color: white;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
input:focus {
    outline: none;
}

.register {
    font-family: "Jura";
    font-size: 16px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.7);

    background: rgba(255, 255, 255, 0.1);
    padding: 12px 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}
.register:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    color: white
}