.emperors {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
    padding: 0px;
    margin-top: 16px;
}
.emp_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 15px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
}
.emperor__block {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    max-height: 600px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Jura';
}
main {
    margin-top: 180px;
    padding-top: 20px;
}
header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    max-height: 160px;

    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.4);

    transform: translateZ(0);
    will-change: backdrop-filter;
}
.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    gap: 20px;
}
search {
    width: 100%;
}
search input {
    resize: none;
    width: 100%;

    font-family: 'Jura';
    font-size: 32px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 10px 0px 10px 40px;
    box-sizing: border-box;
    text-align: center;
    background: transparent;
    color: white;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.5)
}
input:focus{
    outline: none;
}

@media (min-width: 768px) {
    main {
        margin-top: 180px;
        padding-top: 10px;
    }
}