img:not(.logo), video, audio {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}
img#gerb {
    border-radius: 50%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 0px;
}

label {
    font-family: 'Jura';
    font-size: 20px;
    max-width: 500px;
}

.audio:hover {
    filter:
        sepia(100%)
        hue-rotate(-50deg)
        brightness(0.9);
    cursor: pointer;
    transition: filter 0.3s;
}

li {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}