.th {
    background: #64a2ad;
    color: white;
    font-size: 18px;
}

th {
    padding: 15px;
}

.date {
    background: #e9c16a;
    flex: 0 1 auto;
}

td {
    font-size: 16px;
}

td:not(.date) {
    border-left: 2px solid #b84f0b;
}

td.name {
    word-break: break-all;
}

tr:not(.th) {
    padding: 0.5rem;
    border-top: 2px dashed #b84f0b;
}

main {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Jura';
    table-layout: fixed;
}

.last__tr {
    border-bottom: 5px solid #64a2ad;
}

