th {
    padding: 15px;
    color: white;
    font-size: 18px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
.table__layer {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(133, 128, 128, 0.2);
    border-radius: 30px;
    width: 100%;
}

td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    
}
td.date {
    border-left: none;
    text-align: center;
}
tr.top td {
    border-top: none;
}
td.lore {
    border-right: none;
}
tr.bottom td {
    border-bottom: none;
}